* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
  }
  header.hero{
    position: relative;
    background: url('mainImg.jpg') no-repeat;
    background-size: contain;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 20px;
    background: rgba(255, 255, 255, 0.39);
  }

  .navbar li a{
    padding: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .hero-text {
    text-align: center;
    color: white;
    padding-bottom: 50px;
  }
  .hero-text h1{
    font-size: 3em;
  }
  .hero-text p{
    font-size: 1.2em;
  }

  /* vision */
  .vision{
    padding: 50px 20px;
    margin: 50px 250px;
  }
  .vision h3{
    padding-bottom: 20px;
    text-align: center;
  }
  .vision p{
    font-size:x-small ;
    text-align:justify ;
  }

  /*  Messages */ 
.messages {
  display: flex;
  flex-direction: column;
}
.message-block {
  display: flex;
  align-items: center;
}
.message-block .reverse {
  display: flex;
  flex-direction: row-reverse;
}
.message-block img {
  width: 50%;
  height: auto;
  
}
.message-text {
  width: 50%;
  height: 500px;
  background-color: #f5f5f5;
  padding: 20px;
}
.message-text h2{
  text-align: center;
  margin-top: 25%;
}